@font-face {
    font-family: 'DM Sans';
    src: url(../../resources/fonts/DMSans-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url(../../resources/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}
:root {
  --primary: #000000;
  --secondar: #777777;
  --tertiary: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    min-height: 100vh;
    color: #ffffff;

}
/* ******************************/
/***********REUSABLE***********/
/*******************************/

